body {
  margin: 0;
}

.header {
  background-color: #FFFFFF;
  width: 100%;
  overflow: hidden;

}

.header-table {
  border: 1px solid black;
  width: 100%;
  height: 9.018%;
}

.section2 {
  height: 90.982%;
  width: 100%;
  border-bottom: 9px solid black;
  background-image: url("background1.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.section2-table2 {
  width: 100%;
}

#header1 {
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  font-weight: bold;
  width: 33%;
  border: 1px solid white;
  text-align: left;
  padding-left: 5.574%;
}

#header2 {
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17.499px;
  font-weight: bold;
  width: 33%;
  border: 1px solid white;
  text-align: right;
}

#header3 {
  color: #2284ED;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17.499px;
  font-weight: bold;
  width: 16.5%;
  border: 1px solid white;
  text-align: left;
}

#header4 {
  color: #2284ED;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 21.63px;
  font-weight: bold;
  width: 16.5%;
  border: 1px solid white;
  text-align: center;
}

#loginbutton {
  width: 38.198%;
  height: 61.805%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.062vw;
  font-weight: bold;
  background-color: #FFFFFF;
  border: 1px solid #000;
  color: black;
  border-radius: 20px;
}

#getstartedbutton {
  width: 11.804%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.719vw;
  font-weight: normal;
  background-color: white;
  border: none;
  color: black;
  border-radius: 20px;
  padding: 0.618%;
}

#getstartedbutton:hover {
  background-color: #EE5800; /* Green */
}

#sec2-table1 {
  border: 1px solid none;
  text-align: left;
}

#sec2-table2 {
  border: 1px solid none;
}

#sec2-table3 {
  border: 1px solid none;
}

#sec2-table4 {
  border: 1px solid none;
}

#sec2-table5 {
  border: 1px solid none;
  text-align: left;
}

#sec2-table6 {
  border: 1px solid none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size:4.5vw;
  font-weight: bold;
}

#sec2-table7 {
  border: 1px solid none;
}

#sec2-table8 {
  border: 1px solid none;
}

#sec2-table9 {
  border: 1px solid none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size:4.5vw;
}

#sec2-table10 {
  border: 1px solid none;
}

#sec2-table11 {
  border: 1px solid none;
}

#sec2-table12 {
  border: 1px solid none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size:1.390vw;
}

#sec2-table13 {
  border: 1px solid none;
}

#sec2-table14 {
  border: 1px solid none;
}

#sec2-table15 {
  border: 1px solid none;
}

#sec2-table16 {
  border: 1px solid none;
}

#sec2-logo {
  width: 30.903%;
  padding-left: 2.129%;
}
