<html>
<head>
  <link rel="icon" type="image/png" href="{{ url_for('static',filename='styles/logo4.png')}}">
  <!-- Favicon -->
<title>Application Fitness</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/landing-page.css')}}">
<!--This may not be the official way to link a stylesheet-->
</head>
<body>
  <header class="header">
    <table class="header-table">
      <tr>
      <th id="header1"><a href="/blog">Blog</a></th>
      <th id="header2">Premium starts at $4.99.</th>
      <th id="header3"><a href="/plans" id="learn-more">Learn More -></a></th>
      <th id="header4"><a href="/user/derek"><button id="loginbutton">Log In</button></th></a>
    </tr>
    </table>
</header>
<section class="section2">
  <table class="section2-table">
    <tr>
      <th id="sec2-table1"><img src="{{ url_for('static',filename='styles/logo2.png')}}" id="sec2-logo"></th>
      <th id="sec2-table2"></th>
      <th id="sec2-table3"></th>
      <th id="sec2-table4"></th>
    </tr>
      </table>
      <table class="section2-table2">
    <tr>
      <th id="sec2-table5"></th>
      <th id="sec2-table6">A personal trainer in</th>
      <th id="sec2-table7"></th>
    </tr>
    <tr>
      <th id="sec2-table8"></th>
      <th id="sec2-table9">your back pocket.</th>
      <th id="sec2-table10"></th>
    </tr>
    <tr>
      <th id="sec2-table11"></th>
      <th id="sec2-table12">Track progress. Stay motivated.</th>
      <th id="sec2-table13"></th>
    </tr>
    <tr>
      <th id="sec2-table14"></th>
      <th id="sec2-table15"><a href="/sign_up1-2"><button id="getstartedbutton">Get Started</button></a></th>
      <!--This button does not work-->
      <th id="sec2-table16"></th>
    </tr>
</table>
</section>
<footer class="footer">
  <table class="before-footer">
    <tr>
      <th id="b-footer1"></th>
      <th id="b-footer2"></th>
      <th id="b-footer3"></th>
    </tr>
  </table>
  <table class="footer-table">
    <tr>
      <th id="footer1">Product</th>
      <th id="footer2">Company</th>
      <th id="footer3">Legal & Regulatory</th>
    </tr>
    <tr>
      <th id="footer1-2">Placeholder</th>
      <th id="footer2-2"></th>
      <th id="footer3-2"></th>
    </tr>
    <tr>
      <th id="footer4"><a href="/how-it-works">How it Works</a></th>
      <th id="footer5"><a href="/about-us">About Us</a></th>
      <th id="footer6"><a href="/terms-and-conditions">Terms & Conditions</a></th>
    </tr>
    <tr>
      <th id="footer7"></th>
      <th id="footer8"><a href="/blog">Blog</a></th>
      <th id="footer9"><a href="/privacy">Privacy</a></th>
    </tr>
    <tr>
      <th id="footer10"></th>
      <th id="footer11"><a href="/corporate-values">Corporate Values</a></th>
      <th id="footer12"></th>
    </tr>
    <tr>
      <th id="footer13"></th>
      <th id="footer14"><a href="/customer-relations">Customer Relations</a></th>
      <th id="footer15"></th>
    </tr>
    <tr>
      <th id="footer16"></th>
      <th id="footer17"><a href="/support">Support</a></th>
      <th id="footer18"></th>
    </tr>
    <tr>
      <th id="footer19"></th>
      <th id="footer20"><a href="/esg">ESG</a></th>
      <th id="footer21"></th>
    </tr>
    <tr>
      <th id="footer1-2">Placeholder</th>
      <th id="footer2-2"></th>
      <th id="footer3-2"></th>
    </tr>
    <tr>
      <th id="footer22"></th>
      <th id="footer23">© 2023 Application Fitness Inc. All rights reserved.</th>
      <th id="footer24"></th>
    </tr>
  </table>
</footer>
</body>
</html>
