<html>
<head>
<title>Application Fitness - Build Your Profile</title>
<link rel="stylesheet" href="sign_up.css">
</head>
<body>
  <header class="header2">
    <table class="header-table2">
      <tr>
      <th id="header1"><a href="../index.html" id="home-link">Home</a></th>
      <th id="header2"></th>
      <th id="header3"></th>
      <th id="header4"></th>
    </tr>
    </table>
  </header>
  <section class="sign-up-main1">
    <table class="sign-up-table1">
      <tr>
        <th id="row1">What's your gender?</th>
      </tr>
    </table>
    <table class="sign-up-table2">
      <tr>
        <td class="row2"><button id="button1">FEMALE</button></td>
        <td class="row2"><button id="button2">MALE</button></td>
      </tr>
    </table>
    <table class="sign-up-table3">
      <tr>
        <th id="row3">When's your birthday?</th>
      </tr>
    </table>
    <table class="sign-up-table4">
      <tr>
        <td id="row4">
        <input type="date" placeholder="MM/DD/YYYY" name="signup_date" id="date1">
      </td>
      </tr>
    </table>
    <table class="sign-up-table5">
      <tr>
        <th id="row5">Select your units.</th>
      </tr>
    </table>
    <table class="sign-up-table6">
      <tr>
        <td class="row2"><button id="button3">IMPERIAL</button></td>
        <td class="row2"><button id="button4">METRIC</button></td>
      </tr>
    </table>
    <table class="sign-up-table7">
      <tr>
        <td class="row2"><a href="templates/sign_up1.html"><button id="button5">NEXT</button></a></td>
      </tr>
    </table>
  </section>
</body>
</html>
