<html>
<head>
<title>Application Fitness - Build Your Profile</title>
<link rel="stylesheet" href="sign_up.css">
</head>
<body>
  <header class="header2">
    <table class="header-table2">
      <tr>
      <th id="header1"><a href="../index.html" id="home-link">Home</a></th>
      <th id="header2"></th>
      <th id="header3"></th>
      <th id="header4"></th>
    </tr>
    </table>
  </header>
  <section class="sign-up-main1">
    <table class="sign-up-table1">
      <tr>
        <th id="row1">What's your height?</th>
      </tr>
    </table>
    <table class="sign-up-table2">
      <tr>
        <td class="row2"><form action="/action_height_page.php" style="text-align:center;">
          <select name="height" id="height">
            <option value="36">3'0"</option>
            <option value="37">3'1"</option>
            <option value="38">3'2"</option>
            <option value="39">3'3"</option>
            <option value="40">3'4"</option>
            <option value="41">3'5"</option>
            <option value="42">3'6"</option>
            <option value="43">3'7"</option>
            <option value="44">3'8"</option>
            <option value="45">3'9"</option>
            <option value="46">3'10"</option>
            <option value="47">3'11"</option>
            <option value="48">4'0"</option>
            <option value="49">4'1"</option>
            <option value="50">4'2"</option>
            <option value="51">4'3"</option>
            <option value="52">4'4"</option>
            <option value="53">4'5"</option>
            <option value="54">4'6"</option>
            <option value="55">4'7"</option>
            <option value="56">4'8"</option>
            <option value="57">4'9"</option>
            <option value="58">4'10"</option>
            <option value="59">4'11"</option>
            <option value="60">5'0"</option>
            <option value="61">5'1"</option>
            <option value="62">5'2"</option>
            <option value="63">5'3"</option>
            <option value="64">5'4"</option>
            <option value="65">5'5"</option>
            <option value="66">5'6"</option>
            <option value="67">5'7"</option>
            <option value="68">5'8"</option>
            <option value="69">5'9"</option>
            <option value="70">5'10"</option>
            <option value="71">5'11"</option>
            <option value="72">6'0"</option>
            <option value="73">6'1"</option>
            <option value="74">6'2"</option>
            <option value="75">6'3"</option>
            <option value="76">6'4"</option>
            <option value="77">6'5"</option>
            <option value="78">6'6"</option>
            <option value="79">6'7"</option>
            <option value="80">6'8"</option>
            <option value="81">6'9"</option>
            <option value="82">6'10"</option>
            <option value="83">6'11"</option>
            <option value="84">7'0"</option>
            <option value="85">7'1"</option>
            <option value="86">7'2"</option>
            <option value="87">7'3"</option>
            <option value="88">7'4"</option>
            <option value="89">7'5"</option>
            <option value="90">7'6"</option>
          </select>
        </form>
</td>
      </tr>
    </table>
    <table class="sign-up-table3">
      <tr>
        <th id="row3">What's your current weight (lbs)?</th>
      </tr>
    </table>
    <table class="sign-up-table4">
      <tr>
        <td id="row4">
        <input type="number" placeholder="Weight (lbs)" name="start_weight" id="current-weight">
      </td>
      </tr>
    </table>
    <table class="sign-up-table5">
      <tr>
        <th id="row5">What's your goal weight (lbs)?</th>
      </tr>
    </table>
    <table class="sign-up-table6">
      <tr>
        <td class="row2">
        <input type="number" placeholder="Weight (lbs)" name="start_weight" id="current-weight2">
      </td>
      </tr>
    </table>
    <table class="sign-up-table7">
      <tr>
        <td class="row2"><a href="sign_up1.html"><button id="button6">BACK</button></a></td>
        <td class="row2"><a href="sign_up3.html"><button id="button5">NEXT</button></a></td>
      </tr>
    </table>
  </section>
</body>
</html>
