#icon-bar1 {
  background-color: #2689C6;
}

#icon-bar2 {
  background-color: #2689C6;
}

#icon-bar3 {
  background-color: #2689C6;
}

#navbar {
  background-color: white;
  border: 1px solid black;
  border-radius: 0;
}

#navbar0 {

}

#navbar1 {

}

#navbar-container {

}

#navbar-header {

}

#nav-text-blog a:hover {
  color: #F79318;
}

#nav-text-home a:hover {
  color: #F79318;
}

#nav-text-spaces a:hover {
  color: #F79318;
}

#sec2-logo {

}
